@model OtanerBank.Models.Client

@{
    ViewData["Title"] = "Edit";
    ViewData["CPF"] = Model.CPF;
}

<h2>Edit</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("SaveUpdates", "Home", FormMethod.Post, new { }))
        {
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" readonly class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" readonly class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="saldo" class="control-label"></label>
                <input id="saldo" asp-for="saldo" readonly class="form-control" />
                <span asp-validation-for="saldo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="conta" class="control-label"></label>
                <input id="conta" asp-for="conta" class="form-control" />
                <span asp-validation-for="conta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input id="nome" asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>

            if (Model.ultimoAcesso != null && Model.rendaGerada != null)
            {
                <div class="form-group">
                    <label asp-for="ultimoAcesso" class="control-label"></label>
                    <input id="ultimoAcesso" asp-for="ultimoAcesso" class="form-control" />
                    <span asp-validation-for="ultimoAcesso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="rendaGerada" class="control-label"></label>
                    <input id="rendaGerada" asp-for="rendaGerada" class="form-control" />
                    <span asp-validation-for="rendaGerada" class="text-danger"></span>
                </div>
            }



            if (Model.nomeGerenteResponsavel != null && Model.emailGerenteResponsavel != null)
            {
                <div class="form-group">
                    <label asp-for="nomeGerenteResponsavel" class="control-label"></label>
                    <input id="nomeGerenteResponsavel" asp-for="nomeGerenteResponsavel" class="form-control" />
                    <span asp-validation-for="nomeGerenteResponsavel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="emailGerenteResponsavel" class="control-label"></label>
                    <input id="emailGerenteResponsavel" asp-for="emailGerenteResponsavel" class="form-control" />
                    <span asp-validation-for="emailGerenteResponsavel" class="text-danger"></span>
                </div>
            }


            <div class="form-group">
                <input id="btnSave" type="submit" value="Save" class="btn btn-default" />
            </div>

        }

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

    });

    $('#btnSave').click(function () {

    });

</script>