@model OtanerBank.Models.Client

@{
    ViewData["Title"] = "Edit";
    ViewData["CPF"] = Model.CPF;
}

<h2>Edit</h2>

<hr />

<div class="container">

    @using (Html.BeginForm("SaveUpdates", "Home", FormMethod.Post, new { }))
    {

        <div class="row">
            <div class="col-md-6">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" readonly class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" readonly class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">
                <label asp-for="BALANCE" class="control-label"></label>
                <input id="saldo" asp-for="BALANCE" readonly class="form-control" />
                <span asp-validation-for="BALANCE" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ACCOUNT" class="control-label"></label>
                <input id="conta" asp-for="ACCOUNT" class="form-control" />
                <span asp-validation-for="ACCOUNT" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <label asp-for="NAME" class="control-label"></label>
                <input id="nome" asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
        </div>

        if (Model.LAST_ACCESS != null && Model.BALANCE_EARNED != null)
        {
            <br />

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="LAST_ACCESS" class="control-label"></label>
                    <input id="ultimoAcesso" asp-for="LAST_ACCESS" class="form-control" />
                    <span asp-validation-for="LAST_ACCESS" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="BALANCE_EARNED" class="control-label"></label>
                    <input id="rendaGerada" asp-for="BALANCE_EARNED" class="form-control" />
                    <span asp-validation-for="BALANCE_EARNED" class="text-danger"></span>
                </div>
            </div>
        }

        if (Model.MANAGER_NAME != null && Model.MANAGER_EMAIL != null)
        {

            <br />

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="MANAGER_NAME" class="control-label"></label>
                    <input id="nomeGerenteResponsavel" asp-for="MANAGER_NAME" class="form-control" />
                    <span asp-validation-for="MANAGER_NAME" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="MANAGER_EMAIL" class="control-label"></label>
                    <input id="emailGerenteResponsavel" asp-for="MANAGER_EMAIL" class="form-control" />
                    <span asp-validation-for="MANAGER_EMAIL" class="text-danger"></span>
                </div>
            </div>
        }


        <br />
        <br />
        <input type="submit" value="Save" class="btn btn-default" />
        <a asp-action="Index">Back to List</a>
        <br />

    }

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}