@model OtanerBank.Models.Client

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("SaveNewClient", "Home", FormMethod.Post, new { }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="conta" class="control-label"></label>
                <input asp-for="conta" class="form-control" autofocus autocomplete="off" maxlength="6" placeholder="The account number for access later" required />
                <span asp-validation-for="conta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" onblur="ValidarCPF()" maxlength="14" autocomplete="off" id="txtCPF" placeholder="12345678910 - Digite apenas os números !" required />
                <span asp-validation-for="CPF" id="errorCPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" autocomplete="off" inputmode="latin-name" required maxlength="30" placeholder="How we will call the client" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" autocomplete="off" inputmode="email" maxlength="30" placeholder="How we can contact the client" required />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senha" class="control-label"></label>
                <input asp-for="senha" class="form-control" autocomplete="off" inputmode="numeric" maxlength="4" placeholder="The account password for access later" required />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        }
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    var txtCPF = document.getElementById('txtCPF');

    function ValidarCPF() {

        if (!isNaN(txtCPF.value)) {
            if (('' + txtCPF.value).length == 11) {
                var CPF = txtCPF.value.substring(0, 3);
                CPF += '.';
                var CPF = CPF + txtCPF.value.substring(3, 6);
                CPF += '.';
                var CPF = CPF + txtCPF.value.substring(6, 9);
                CPF += '-';
                var CPF = CPF + txtCPF.value.substring(9, 11);

                txtCPF.value = CPF;
                txtCPF.style.borderColor = "#00FF00"; // set the Name field the green color
                txtCPF.title = "CPF is valid !";
                

            } else if (('' + txtCPF.value).length < 11) {
                txtCPF.focus();
                txtCPF.title = "Something is too short here !";
                txtCPF.style.borderColor = "#FF0000"; // set the Name field the red color
            } else {
                txtCPF.focus();
                txtCPF.title = "Something is too large here !";
                txtCPF.style.borderColor = "#FF0000"; // set the Name field the red color
            }
        } else {
            txtCPF.focus();
            txtCPF.title = "Something is not a number here !";
            txtCPF.style.borderColor = "#FF0000"; // set the Name field the red color
        }

    }
</script>