@model OtanerBank.Models.Client

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<hr />
<div class="row col-md-pull-12">
    <div id="formClient" class="col-md-4">
        @using (Html.BeginForm("SaveNewClient", "Home", FormMethod.Post, new { }))
        {
            <!--Basic inputs-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="CPF" class="control-label"></label>

                <br />

                <div class="col-md-8">
                    <input asp-for="CPF" class="form-control col-lg-12" autofocus onblur="ValidarCPF()" maxlength="14" autocomplete="off" id="txtCPF" placeholder="Example: 12345678910" required />
                </div>
                <div class="col-md-4">
                    <input type="button" class="form-control col-lg-12 hidden" id="btnCPF" value="Edit CPF" />
                </div>

                <br />

                <span asp-validation-for="CPF" id="errorCPF" class="text-danger"></span>

                <br />

            </div>
            <div class="form-group">
                <label asp-for="ACCOUNT" class="control-label"></label>
                <input asp-for="ACCOUNT" id="txtConta" class="form-control" autocomplete="off" maxlength="6" placeholder="The account number for access later" required />
                <span asp-validation-for="ACCOUNT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" id="txtNome" class="form-control" autocomplete="off" inputmode="latin-name" required maxlength="30" placeholder="How we will call the client" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL" class="control-label"></label>
                <input asp-for="EMAIL" id="txtEmail" class="form-control" autocomplete="off" inputmode="email" maxlength="30" placeholder="How we can contact the client" required />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PASSWORD" class="control-label"></label>
                <input asp-for="PASSWORD" id="txtSenha" class="form-control" autocomplete="off" inputmode="numeric" maxlength="4" placeholder="The account password for access later" required />
                <span asp-validation-for="PASSWORD" class="text-danger"></span>
            </div>
            <!--End of basic inputs-->

            <!--Account Type-->
            <div class="form-group">

                <br /><br />
                <label class="control-label" style="font-size:25px">Account type (Don't select anyone to create a simple account):</label>
                <br />

                <input type="checkbox" id="cSaving" class="form-group" />
                <label for="cPoupanca">Saving account</label><br />
                <input type="checkbox" id="cSpecial" class="form-group" />
                <label for="cEspecial">Special account</label><br />

            </div>


            <div class="form-group" id="formSpecial1">
                <label asp-for="MANAGER_NAME" class="control-label"></label>
                <input asp-for="MANAGER_NAME" id="txtNomeGerente" class="form-control" autocomplete="off" inputmode="latin-name" maxlength="30" placeholder="Name of client manager" />
                <span asp-validation-for="MANAGER_NAME" class="text-danger"></span>
            </div>
            <div class="form-group" id="formSpecial2">
                <label asp-for="MANAGER_EMAIL" class="control-label"></label>
                <input asp-for="MANAGER_EMAIL" id="txtEmailGerente" class="form-control" autocomplete="off" inputmode="email" maxlength="30" placeholder="E-mail of client manager" />
                <span asp-validation-for="MANAGER_EMAIL" class="text-danger"></span>
            </div>

            <div class="form-group" id="formSaving1">
                <label asp-for="LAST_ACCESS" class="control-label"></label>
                <input asp-for="LAST_ACCESS" id="txtUltimoAcesso" class="form-control" autocomplete="off" placeholder="Last client access in account" />
                <span asp-validation-for="LAST_ACCESS" class="text-danger"></span>
            </div>
            <div class="form-group" id="formSaving2">
                <label asp-for="BALANCE_EARNED" class="control-label"></label>
                <input asp-for="BALANCE_EARNED" id="txtRendaGerada" class="form-control" autocomplete="off" placeholder="How much the client already earned" />
                <span asp-validation-for="BALANCE_EARNED" class="text-danger"></span>
            </div>
            <!--End of Account Type-->

            <!--Submit button-->
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <!--End of submit button-->

        }
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function () {
        Disable_formSaving();
        Disable_formSpecial();
    });


    document.querySelector("#formClient").addEventListener("submit", function (e) {
        // Validation for the ACCOUNT NUMBER
        if (("" + document.getElementById('txtConta').value).length == 6
            && (!isNaN(("" + document.getElementById('txtConta').value).replace('-', '')))) {
            if (("" + document.getElementById('txtConta').value).endsWith("-1")
                && document.getElementById('cSpecial').checked == false
                && document.getElementById('cSaving').checked == false) {

            } else if (("" + document.getElementById('txtConta').value).endsWith("-2")
                && document.getElementById('cSaving').checked == true) {

            } else if (("" + document.getElementById('txtConta').value).endsWith("-3")
                && document.getElementById('cSpecial').checked == true) {

            } else {
                e.preventDefault();
                alert('Simple accounts number must end with -1\nand have the checkbox checked\n' +
                    '\nSaving account number must end with -2\nand have the checkbox checked\n' +
                    '\nSpecial account number must end with -3\nand have the checkbox checked\n');
            }
        } else {
            e.preventDefault();
            alert('The account number must be the ####-# format !');
        }
    });

    $("#cSpecial").click(function () {
        if (document.getElementById('cSpecial').checked == false) {
            Disable_formSpecial();
        } else {
            Enable_formSpecial();

            document.getElementById('cSaving').checked = false;
            Disable_formSaving();
        }
    });

    $("#cSpecial").click(function () {
        if (document.getElementById('cSpecial').checked == false) {
            Disable_formSpecial();
        } else {
            Enable_formSpecial();

            document.getElementById('cSaving').checked = false;
            Disable_formSaving();
        }
    });

    $("#cSaving").click(function () {
        if (document.getElementById('cSaving').checked == false) {
            Disable_formSaving();
        } else {
            Enable_formSaving();

            document.getElementById('cSpecial').checked = false;
            Disable_formSpecial();
        }
    });

    function Enable_formSaving() {
        document.getElementById('formSaving1').hidden = false;
        document.getElementById('formSaving2').hidden = false;
    }

    function Enable_formSpecial() {
        document.getElementById('formSpecial1').hidden = false;
        document.getElementById('formSpecial2').hidden = false;
    }


    function Disable_formSaving() {
        document.getElementById('formSaving1').hidden = true;
        document.getElementById('formSaving2').hidden = true;
        document.getElementById('txtUltimoAcesso').value = "";
        document.getElementById('txtRendaGerada').value = "";
    }

    function Disable_formSpecial() {
        document.getElementById('formSpecial1').hidden = true;
        document.getElementById('formSpecial2').hidden = true;
        document.getElementById('txtNomeGerente').value = "";
        document.getElementById('txtEmailGerente').value = "";
    }


    var txtCPF = document.getElementById('txtCPF');
    var btnCPF = document.getElementById('btnCPF');

    function ValidarCPF() {

        if (!isNaN(txtCPF.value)) {

            if ((txtCPF.value + '').length == 11) {
                setChars();
            } else if ((txtCPF.value + '').length < 11) {
                setError('CPF too short !');
            } else if ((txtCPF.value + '').length > 11) {
                setError('CPF too long !');
            }

        } else {

            if (txtCPF.style.borderColor == "#FF0000") {
                setError("Type only numbers !");
            }

        }

    }

    function setError() {
        txtCPF.focus();
        txtCPF.style.borderColor = "#FF0000"; // set the Name field the red color
        txtCPF.title = arguments[0];
    }

    function setSucess() {
        txtCPF.value = arguments[0];
        txtCPF.style.borderColor = "#00FF00"; // set the Name field the green color
        txtCPF.title = arguments[1];
        btnCPF.classList.remove('hidden');
        txtCPF.readOnly = true;
    }

    function setNull() {
        txtCPF.focus();
        txtCPF.style.borderColor = "#FFFFFF"; // set the Name field the red color
        txtCPF.title = "";
    }

    function setChars() {
        var CPF = txtCPF.value.substring(0, 3);
        CPF += '.';
        var CPF = CPF + txtCPF.value.substring(3, 6);
        CPF += '.';
        var CPF = CPF + txtCPF.value.substring(6, 9);
        CPF += '-';
        var CPF = CPF + txtCPF.value.substring(9, 11);

        setSucess(CPF, "The CPF is valid !");
    }

    $("#btnCPF").click(function () {
        setNull();
        txtCPF.readOnly = false;
        txtCPF.value = "";
        btnCPF.classList.add('hidden');
    });


</script>