
@{
    ViewData["Title"] = "Otaner's Bank - Sign in";
}

<br />

<style>
    .center {
        text-align: center;
    }
</style>

<div class="row">
    <div class="center">
        <h3>Olá, esse é um sistema administrativo, e para poder utilizá-lo envie um e-mail para</h3>
        <h4>thaleslimadejesus@gmail.com</h4>
    </div>
</div>

