@model OtanerBank.Models.Client

@{
    ViewData["Title"] = "Edit Client";
    ViewData["CPF"] = Model.CPF;
}

<div class="container">

    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { }))
    {
        <br />

        <div class="row">
            <div class="col-md-6">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" readonly class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" readonly class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">
                <label asp-for="ACCOUNT" class="control-label"></label>
                <input id="ACCOUNT" asp-for="ACCOUNT" readonly class="form-control" />
                <span asp-validation-for="ACCOUNT" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="BALANCE" class="control-label"></label>
                <input asp-for="BALANCE" readonly class="form-control" />
                <span asp-validation-for="BALANCE" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12 text-center">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" required class="form-control text-center" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6" id="formSaving1">
                <label asp-for="LAST_ACCESS" class="control-label"></label>
                <input asp-for="LAST_ACCESS" class="form-control" />
                <span asp-validation-for="LAST_ACCESS" class="text-danger"></span>
            </div>
            <div class="col-md-6" id="formSaving2">
                <label asp-for="BALANCE_EARNED" class="control-label"></label>
                <input asp-for="BALANCE_EARNED" class="form-control" />
                <span asp-validation-for="BALANCE_EARNED" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="formSpecial1">
                <label asp-for="MANAGER_NAME" class="control-label"></label>
                <input asp-for="MANAGER_NAME" class="form-control" />
                <span asp-validation-for="MANAGER_NAME" class="text-danger"></span>
            </div>
            <div class="col-md-6" id="formSpecial2">
                <label asp-for="MANAGER_EMAIL" class="control-label"></label>
                <input asp-for="MANAGER_EMAIL" class="form-control" />
                <span asp-validation-for="MANAGER_EMAIL" class="text-danger"></span>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <input type="submit" value="Save" class="form-control btn-default text-center" />
            </div>
            <div class="col-md-5"></div>
        </div>

        <br />

    }

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">


    $(document).ready(function () {

        var AC = '' + document.getElementById('ACCOUNT').value;

        if (AC.endsWith('-3')) {
            Disable_formSaving();
        } else if (AC.endsWith('-2')) {
            Disable_formSpecial();
        } else {
            Disable_formSaving();
            Disable_formSpecial();
        }

    });

    function Disable_formSaving() {
        document.getElementById('formSaving1').hidden = true;
        document.getElementById('formSaving2').hidden = true;
    }

    function Disable_formSpecial() {
        document.getElementById('formSpecial1').hidden = true;
        document.getElementById('formSpecial2').hidden = true;
    }

</script>
